* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Color */
  --primary-color: #008ecc;

  /* Text Colors */
  --text-color: #666666;
  --text-primary: #181818;
  --heading-color: #222222;
  --light-text: #888888;

  /* Border & Line */
  --border-color: #ededed;
  --line-color: #d9d9d9;

  /* Background Colors */
  --bg-1: #f5f5f5;
  --bg-2: #f6f6fc;
  --bg-3: #f3f9fb;

  /* Yellow Shades */
  --yellow-1: #e3bc01;
  --yellow-2: #e3bc01;

  /* White */
  --white-color: #ffffff;
}

/* common class typrography */

.continer {
  width: 80%;
  margin: 0 auto;
}

/* main section */

#navbar {
  border-bottom: 1px solid var(--border-color);
}

.navbar-continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--white-color);
}

.navbar-continer .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navber-right {
  display: flex;
  gap: 1rem;
}
.nav-search {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav-search input[type="text"] {
  width: 600px;
  border: none;
  outline: none;
}

.nav-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-login .nav-loging {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav-loging .btn {
  border: none;
  font-size: 1rem;
}

.nav-login .nav-card {
  border-left: 2px solid rgb(107, 107, 107);
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav-card .btn {
  border: none;
}

#button {
  border-bottom: 1px solid var(--border-color);
}

.navbar-btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.navbar-btn .btn-1 {
  border: none;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border-radius: 20px;
  color: var(--text-color);
  background-color: var(--border-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.btn-1 i {
  margin-left: 0.2rem;
  color: var(--primary-color);
}
